/*ao passar o mouse pela div, ganham uma borda*/
div:hover{
    border: 1px solid red;
}

/*Cada DIV deve ter uma cor*/
div:nth-of-type(1){
    background-color: yellow;
}

div:nth-of-type(2){
    background-color: green;
}

/*Fazer a terceira div ser maior que as outras*/
div:nth-of-type(3){
    background-color: coral;
    height: 150px;
}

div:nth-of-type(4){
    background-color: darkblue;
}

div:nth-of-type(5){
    background-color: beige;
}

/*Estilizar cada H3*/
/*Deixar as h3 ímpares em itálico*/
div:nth-of-type(1) > h3 {
    color: blue;
    font-style: italic;
}

div:nth-of-type(2) > h3 {
    font-size: 20px;
}

div:nth-of-type(3) > h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

div:nth-of-type(4) > h3 {
    height: 40px;
}

div:nth-of-type(5) > h3 {
    color: fuchsia;
    font-style: italic;
}
